<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">

  <mat-expansion-panel-header>
    <mat-panel-title>
      Informações de saúde
    </mat-panel-title>
  </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item>
        <div class="numero">
          <p class="contato"> Alergias </p>
          <p>Respiratória, asma alérgica</p>
        </div>
      </mat-list-item>
    </mat-list>

      <mat-divider></mat-divider>

    <mat-list>
      <mat-list-item>
        <div class="numero">
          <p class="contato"> Doenças autoimunes </p>
          <p>Não possui</p>
        </div>
      </mat-list-item>
    </mat-list>      

    <mat-divider></mat-divider>

    <mat-list>
      <mat-list-item>
        <div class="numero">
          <p class="contato"> Tipo sanguíneo </p>
          <p>A+</p>
        </div>
      </mat-list-item>
    </mat-list>     
</mat-expansion-panel>