<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">

  <mat-expansion-panel-header>
    <mat-panel-title>
      Informações pessoais
    </mat-panel-title>
    <!--<mat-panel-description>
    aqui vai a descrição do card, se precisar de alguma
    </mat-panel-description>-->
  </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item>
        <div class="numero">
          <p class="contato"> Nome </p>
          <p>Maria Claudia</p>
        </div>
      </mat-list-item>
    </mat-list>

      <mat-divider></mat-divider>

    <mat-list>
      <mat-list-item>
        <div class="numero">
          <p class="contato"> Idade </p>
          <p>16 anos</p>
        </div>
      </mat-list-item>
    </mat-list>      
</mat-expansion-panel>
